.wrapper {
  text-align: center;
  margin: 72px auto 0;
  padding: 24px;

  .form {
    margin-top: 37px;
    text-align: left;

    .info {
      margin: 7px 0 17px;
      color: var(--color-light-900);
    }
    .sentText{
      margin: 23px 0 17px;
    }
  }
  .link{
    margin: 24px 0 12px;
  }
}