.wrapper {
  margin: 60px auto 0;
  text-align: center;
  padding: 23px 24px 36px;
  .form{
    text-align: left;
    margin-top: 37px;
    .newPassword{
      margin-bottom: 24px;
    }
    .info{
      margin: 7px 0 0px;
      color: var(--color-light-900);
    }
    .submitButton{
      margin-top: 41px;
    }
  }
}