.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;

    .image {
        object-fit: contain;
    }

    .nameFilter {
        text-align: center;
    }
}