.profilePageHeaderWrapper {
    display: flex;
}

.avatar {
    object-fit: cover;
    border-radius: 50%;
}


.statisticWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 38px;
}

.profileURL {
    display: flex;
    justify-content: space-between;
}

.profileStatistics {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 23px;
}

.profileButtonsContainer {
    display: flex;
}

.textBlock {
    max-width: 730px;
}

.text {}

.link {
    color: var(--color-accent-500);
    text-decoration-line: underline;
}