.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 432px;
    align-items: center;
    margin: 35px auto 0;

    .subTitle {
        text-align: center;
        margin-top: 19px;
        max-width: 294px;
    }

    .button {
        margin-top: 54px;
    }

    .image {
        margin-top: 72px;

    }
}