.aside {
    position: fixed;
    top: 60px;

    .sidebarList {
        display: flex;
        flex-direction: column;
        padding-right: 49px;
        min-width: 180px;
        height: calc(100vh - 60px);
        border-right: 1px solid var(--color-dark-300);


        .itemWrapper {
            height: 24px;
            margin-bottom: 24px;

            &:nth-child(1) {
                margin-top: 72px;
            }

            &:nth-child(5) {
                margin-bottom: auto;
            }

            &:last-child {
                margin-top: 20vh;
            }

            &:nth-last-child(2) {
                margin-bottom: 0;
            }

            .button {
                display: flex;
                justify-content: flex-start;
                gap: 12px;
                height: 24px;

                .icon {
                    fill: var(--color-light-100);
                }

                &:hover .text {
                    color: var(--color-accent-100)
                }

                &:hover .icon {
                    fill: var(--color-accent-100);
                }
            }

            .item {

                display: flex;
                gap: 12px;
                height: 24px;

                .icon {
                    fill: var(--color-light-100);
                }

                &:hover .text {
                    color: var(--color-accent-100)
                }

                &:hover .icon {
                    fill: var(--color-accent-100);
                }
            }
        }
    }
}

.search {
    height: 24px;
    width: 24px;
}