.genContainer {
  display: flex;
  flex-direction: row;
  width: 100%;

  .photo {
    width: 192px;
    margin: 48px 40px 0 24px;
  }

  .form {
    width: 740px;
    margin-top: 24px;
  }

  .red {
    color: red;
  }
}
