.wrapper{
    margin: 35px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contentContainer{
        width: 320px;
        text-align: center;
        margin-bottom: 31px;
        .info{
            margin: 19px 0 30px;
        }
    }
}