@mixin typography($fontSize, $lineHeight, $fontWeight) {
    margin: 0;

    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: var(--color-light-100);
}

.large {
    @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-large));
}

.h1 {
    @include typography(var(--font-size-xl), var(--line-height-l), var(--font-weight-bold));
}

.h2 {
    @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-bold));
}

.h3 {
    @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-large));
}

.regularText16 {
    @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-regular));
}

.boldText16 {
    @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-bold));
}

.regularText14 {
    @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));
}

.mediumText14 {
    @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-medium));
}

.boldText14 {
    @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-bold));
}

.smallText {
    @include typography(var(--font-size-s), var(--line-height-s), var(--font-weight-regular));
}

.semiBoldSmallText {
    @include typography(var(--font-size-s), var(--line-height-s), var(--font-weight-large));
}

.regularLink,
.regularLink:visited {
    @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-regular));

    cursor: pointer;
    color: var(--color-accent-500);
    text-decoration: underline;
}

.smallLink,
.smallLink:visited {
    @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-regular));

}