.sidebarsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  width: 220px;

  .sidebarsControl {
    margin-top: 72px;
    margin-left: 60px;
  }

  .sidebarsStatistic {
    margin-top: 60px;
    margin-bottom: 180px;
    margin-left: 60px;
  }

  .sidebarsLogout {
    margin-bottom: 25px;
    margin-left: 60px;
  }

  a {
    box-sizing: border-box;
    text-decoration: none;
  }
}
