.header {

    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid var(--color-dark-300);

    .container {
        max-width: 1156px;
        margin: 0 auto;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;

        .blockButton {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .ball {
                margin-right: 48px;
            }

            .middleButton {
                margin-left: 36px;
                margin-right: 24px;
            }
        }
    }
}