.inputWrapper {
    min-height: 86px;
}

.checkbox {
    margin-top: 18px;
}

.button {
    margin-top: 18px;
}

.textCheckbox {
    text-decoration: none;
    color: var(--color-light-100);

    .link {
        color: var(--color-accent-300);
        text-decoration: underline;
    }
}