.container {
  align-items: center;
  display: flex;
  margin-right: 12px;

  .flag {
    align-items: center;
    display: flex;
    margin-right: 12px;
  }

  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
}



