.dot,
.selected {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.dot {
    background-color: var(--color-light-100);
}

.selected {
    background-color: var(--color-accent-500)
}